<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h2>

<% if (pagination == 2){ %>
  <% page.posts.each(function(item){ %>
    <%- partial('article', {item: item, index: true}) %>
  <% }); %>

  <%- partial('pagination') %>
<% } else { %>
  <div class="archive">
    <% page.posts.each(function(item){ %>
      <article class="<%= item.layout %>">
        <div class="post-content">
          <header>
            <div class="icon"></div>
            <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
            <% if (item.link){ %>
              <% if (item.title){ %>
                <h1 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h1>
              <% } else { %>
                <h1 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h1>
              <% } %>
            <% } else { %>
              <h1 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h1>
            <% } %>
          </header>
          <div class="entry">
            <% if (item.excerpt) { %>
              <%- item.excerpt %>
            <% } else { %> 
              <%- item.content %>
            <% } %>
          </div>
          <% if (item.excerpt) { %>
          <footer>
            <div class="alignleft">
              <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= __('more') %></a>
            </div>
          </footer>
          <% } %>
          <footer>
            <div class="article-footer">
              <div class="footer-left">
                <%- partial('post/category', {item: item}) %>
                <%- partial('post/tag', {item: item}) %>
              </div>
              <div class="footer-right">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%- item.title %> | <%- config.title %>" data-url="<%- config.url %>/<%- item.path %>" data-via="elleonard_f" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
            <!-- partial('post/share') -->
            <div class="clearfix"></div>
          </footer>
        </div>
      </article>
    <% }); %>
  </div>
  <%- partial('pagination') %>
<% } %>