<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>" /><% } %>

  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>" />
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>" />
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>" />
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>" />
  <% } %>

  <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>" />
  <% } else if(config.keywords) { %>
  <meta name="keywords" content="<%= config.keywords %>" />
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <% if (page.title){ %><meta property="og:title" content="<%= page.title %>" /><% } %>
  <meta property="og:site_name" content="<%= config.title %>" />

  <% if (theme.google_site_verification){ %><meta name="google-site-verification" content="<%= theme.google_site_verification%>" /><% } %>
  <% if (theme.baidu_site_verification){ %><meta name="baidu-site-verification" content="<%= theme.baidu_site_verification%>" /><% } %>

  <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
    <meta property="og:image" content="<%= config.cover %>" />
  <% } %>

  <!-- ogp -->
  <% if (page.cover) { %>
    <% if (theme.bottom_link.twitter) { %>
      <%- open_graph({image: url_for(page.path) + page.cover, twitter_id: theme.bottom_link.twitter}) %>
    <% } else { %>
      <%- open_graph({image: url_for(page.path) + page.cover}) %>
    <% } %>
    <meta name="twitter:image" content="<% url_for(page.path) + page.cover %>" />
  <% } else { %>
    <% if (theme.bottom_link.twitter) { %>
      <%- open_graph({twitter_id: theme.bottom_link.twitter}) %>
    <% } %>
    <meta name="twitter:image" content="<%= config.url %><%= config.cover %>"/>
  <% } %>

  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%- partial('google_analytics') %>

  <link rel="apple-touch-icon" sizes="180x180" href="<%- config.root %>favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%- config.root %>/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%- config.root %>/favicon/favicon-16x16.png">
  <link rel="manifest" href="<%- config.root %>/favicon/site.webmanifest">
  <link rel="mask-icon" href="<%- config.root %>/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
